* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    height: 100%;
    width: 100%;
    display: block;
}



#navbar {
    display: flex;
    height: 10%;
    width: 100%;

    border: 1px solid black;

    margin-bottom: 1%;
}



#bar_navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;

    flex-direction: row;
    

    border: 1px solid black;

    width: 40%;
    height: 100%;
}

.boutton_bar_navbar{
    height: 70%;
    width: 15%;

    font-size: x-large;
    margin-left: 1.5%;
    margin-right: 1.5%;

    border-radius: 10px;
    border: 0;

    background-color: rgb(46, 44, 44);
    color: white;

    font-weight: bold;
}

.boutton_bar_navbar:hover {
    background-color: rgb(173, 173, 173);
    color: black;
}


#titre_navbar {
    display: flex;

    justify-content: center;
    align-items: center;


    border: 1px solid black;

    width: 20%;
    height: 100%;

    font-size: xx-large;
}


#none_navbar {
    display: flex;

    justify-content: center;


    border: 1px solid black;

    width: 40%;
    height: 100%;
}



#aimTraining {
    display: flex;
    height: 80%;
    width: 100%;

    border: 1px solid black;

    justify-content: center;
    align-items: center;
}

#div_start {
    display: flex;

    justify-content: center;
    align-items: center;

    border: 1px solid black;

    width: 10%;
    height: 20%;

}

#btn_start {
    width: 70%;
    height: 50%;

    font-size: xx-large;
    border: 0px;

    background-color: rgb(206, 209, 212);

    border-radius: 15px;
}

#btn_start:hover {
    background-color: rgb(85, 84, 84);
    color: aliceblue;
}
