* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    height: 100%;
    width: 100%;
    display: block;
}



#navbar {
    display: flex;
    height: 10%;
    width: 100%;

    border: 1px solid black;

    margin-bottom: 1%;
}



#bar_navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;

    flex-direction: row;
    

    border: 1px solid black;

    width: 40%;
    height: 100%;
}

.boutton_bar_navbar{
    height: 70%;
    width: 15%;

    font-size: x-large;
    margin-left: 1.5%;
    margin-right: 1.5%;

    border-radius: 10px;
    border: 0;

    background-color: rgb(46, 44, 44);
    color: white;

    font-weight: bold;
}

.boutton_bar_navbar:hover {
    background-color: rgb(173, 173, 173);
    color: black;

    cursor: pointer;
}


#titre_navbar {
    display: flex;

    justify-content: center;
    align-items: center;


    border: 1px solid black;

    width: 20%;
    height: 100%;

    font-size: xx-large;
}


#score_timer_navbar {
    display: flex;

    justify-content: center;


    border: 1px solid black;

    width: 40%;
    height: 100%;
}

#score_div_navbar {
    display: flex;

    justify-content: center;
    align-items: center;


    border: 1px solid black;

    width: 40%;
    height: 100%;
    
}

#score {
    font-size: xx-large;
}

#timer_div_navbar {
    display: flex;

    justify-content: center;
    align-items: center;


    border: 1px solid black;

    width: 60%;
    height: 100%;
}

#timer_div_navbar p {
    font-size: xx-large;
}

#aimTraining {
    display: flex;
    height: 80%;
    width: 100%;

    border: 1px solid black;

    justify-content: center;
    align-items: center;
}

#div_start {
    display: flex;

    justify-content: center;
    align-items: center;

    border: 1px solid black;

    width: 10%;
    height: 20%;

}

#btn_start {
    width: 70%;
    height: 50%;

    font-size: xx-large;
    border: 0px;

    background-color: rgb(250, 41, 41);
    color: white;

    border-radius: 15px;
}

#btn_start:hover {
    background-color: rgb(6, 136, 6);
    color: aliceblue;

    cursor: pointer;
}


#parametre {
    display: flex;
    height: 10%;
    width: 100%;

    border: 1px solid black;

    justify-content: center;
    align-items: center;
}

#div_interval {
    display: block;
    height: 100%;
    width: 20%;

    border: 1px solid black;

    text-align: center;
}

#div_interval p {
    margin-top: 5%;
}

#interval {
    text-align: center;
    border-radius: 7px;

    width: 30%;
    height: 15%;

    font-weight: bold;
    margin-top: 2%;
}

#none_parametre{
    display: flex;
    height: 100%;
    width: 40%;

    border: 1px solid black;

}



.btn_click {
    width: 4%;
    height: 3%;

    border-radius: 20px;

    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);

    font-weight: bold;
    font-size: large;

    border: 0px;
}

.btn_click:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(221, 221, 221);

    cursor: crosshair;
}


